.finance-nav-container {

  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  div {
    padding: 0px 15px;
  }
}
.customer-ul {
  #overage-header {
    font-weight: bold;
  }
  li {
    display: flex;
    flex-direction: row;

    * {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: center;
      width: 75px;
      padding: 5px 15px;
    }
  }
}
