.customer-ul {
  #overage-header {
    font-weight: bold;
  }
  li {
    display: flex;
    flex-direction: row;

    * {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: center;
      width: 75px;
      padding: 5px 15px;
    }
  }
}

.container {
  padding: 10px 20px;
}
