.nav-selected {
  color: green;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid lightgrey;
  border-bottom: none;
  margin: -1px;
  div {
    padding: 5px 15px;
  }
}

.nav-unselected {
  color: green;
  opacity: 0.5;
  text-decoration: none;
  display: inline-block;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  div {
    padding: 5px 15px;
  }

}

.nav-unselected:hover {
  color: green;
  opacity: 1;
}

.navigation {
  height: 30px;
  width: 100%;
  padding-top: 10px;

  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
